<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
      <intent>
        <action android:name="android.intent.action.MAIN" />
      </intent>
    </queries>

    <application
        android:icon="@drawable/ic_vpn"
        android:label="@string/app"
        android:theme="@style/Theme.AppCompat.Light">

        <meta-data
        android:name="android.permission.QUERY_ALL_PACKAGES"
        android:value="This app needs to query all packages to allow users to select which apps to include or exclude from VPN." />

        <activity
            android:name=".ServerListActivity"
            android:exported="true"
            android:label="Minivtun">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StatusActivity"
            android:exported="false"
            android:label="Minivtun">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ServerInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Minivtun">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name=".ToyVpnService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>

</manifest>